 
#map {
    width: 40%;
    height: 40%;
  }
  .map:-moz-full-screen {
    height: 40%;
  }
  .map:-webkit-full-screen {
    height: 140%;
  }
  .map:-ms-fullscreen {
    height: 40%;
  }
  .map:fullscreen {
    height: 40%;
  }